In [12]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\chuks\appdata\local\programs\python\python39\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\chuks\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pytz>=2020.1 in c:\users\chuks\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\chuks\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\chuks\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\chuks\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
import pandas as pd

In [14]:
titanic = pd.read_csv("train.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
titanic_cat = titanic.select_dtypes(object)

In [16]:
import numpy as np

In [17]:
titanic_num = titanic.select_dtypes(np.number)

In [18]:
titanic_cat.head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [19]:
titanic_num.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [20]:
titanic_cat.drop(['Name','Ticket'], axis=1, inplace=True)

In [21]:
titanic_cat.head()

      Sex Cabin Embarked
0    male   NaN        S
1  female   C85        C
2  female   NaN        S
3  female  C123        S
4    male   NaN        S

In [22]:
titanic_cat.isnull().sum()

Sex           0
Cabin       687
Embarked      2
dtype: int64

In [23]:
titanic_cat.Cabin.fillna(titanic_cat.Cabin.value_counts().idxmax(), inplace=True)
titanic_cat.Embarked.fillna(titanic_cat.Embarked.value_counts().idxmax(), inplace=True)

In [24]:
%pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\chuks\appdata\local\programs\python\python39\lib\site-packages (1.2.1)Note: you may need to restart the kernel to use updated packages.

Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp39-cp39-win_amd64.whl (8.4 MB)
Requirement already satisfied: joblib>=1.1.1 in c:\users\chuks\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\chuks\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\chuks\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\chuks\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.1.0)
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.2.1
    Uninstalling scikit-learn-1.2.1:
      Successfully uninstalled scikit-learn-1.2.1

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\chuks\\AppData\\Local\\Programs\\Python\\Python39\\Lib\\site-packages\\~klearn\\.libs\\msvcp140.dll'
Consider using the `--user` option or check the permissions.

WARNING: You are using pip version 21.1.1; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\chuks\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [25]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
titanic_cat = titanic_cat.apply(le.fit_transform)

In [26]:
titanic_num.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [27]:
titanic_num.Age.fillna(titanic_num.Age.mean(), inplace=True)
titanic_num.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [28]:
titanic_num.drop(['PassengerId'], axis=1, inplace=True)

In [29]:
titanic_num.head()

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [30]:
titanic_final = pd.concat([titanic_cat,titanic_num],axis=1)
titanic_final.head()

   Sex  Cabin  Embarked  Survived  Pclass   Age  SibSp  Parch     Fare
0    1     47         2         0       3  22.0      1      0   7.2500
1    0     81         0         1       1  38.0      1      0  71.2833
2    0     47         2         1       3  26.0      0      0   7.9250
3    0     55         2         1       1  35.0      1      0  53.1000
4    1     47         2         0       3  35.0      0      0   8.0500

In [31]:
X = titanic_final.drop(['Survived'], axis=1)
Y = titanic_final['Survived']

In [32]:
X_train = np.array(X[0:int(0.80*len(X))])
Y_train = np.array(Y[0:int(0.80*len(Y))])
X_test = np.array(X[int(0.80*len(X)):])
Y_test = np.array(Y[int(0.80*len(Y)):])
len(X_train), len(Y_train), len(X_test), len(Y_test)

(712, 712, 179, 179)

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [34]:
LR = LogisticRegression()
KNN = KNeighborsClassifier()
NB = GaussianNB()
LSVM = LinearSVC()
NLSVM = SVC(kernel='rbf')
DT = DecisionTreeClassifier()
RF = RandomForestClassifier()

In [35]:
LR_fit = LR.fit(X_train, Y_train)
KNN_fit = KNN.fit(X_train, Y_train)
NB_fit = NB.fit(X_train, Y_train)
LSVM_fit = LSVM.fit(X_train, Y_train)
NLSVM_fit = NLSVM.fit(X_train, Y_train)
DT_fit = DT.fit(X_train, Y_train)
RF_fit = RF.fit(X_train, Y_train)

c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [36]:
LR_pred = LR_fit.predict(X_test)
KNN_pred = KNN_fit.predict(X_test)
NB_pred = NB_fit.predict(X_test)
LSVM_pred = LSVM_fit.predict(X_test)
NLSVM_pred = NLSVM_fit.predict(X_test)
DT_pred = DT_fit.predict(X_test)
RF_pred = RF_fit.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score
print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred, Y_test)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred, Y_test)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred, Y_test)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred, Y_test)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred, Y_test)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred, Y_test)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred, Y_test)*100))

Logistic Regression is 83.798883 percent accurate
KNN is 75.977654 percent accurate
Naive Bayes is 82.681564 percent accurate
Linear SVMs is 74.860335 percent accurate
Non Linear SVMs is 74.301676 percent accurate
Decision Trees is 79.329609 percent accurate
Random Forests is 84.357542 percent accurate

In [38]:
X_train_new = np.array(X[0:int(0.70*len(X))])
Y_train_new = np.array(Y[0:int(0.70*len(Y))])
X_test_new = np.array(X[int(0.70*len(X)):])
Y_test_new  = np.array(Y[int(0.70*len(Y)):])
len(X_train_new), len(Y_train_new), len(X_test_new), len(Y_test_new)

(623, 623, 268, 268)

In [39]:
LR_fit_new = LR.fit(X_train_new, Y_train_new)
KNN_fit_new = KNN.fit(X_train_new, Y_train_new)
NB_fit_new = NB.fit(X_train_new, Y_train_new)
LSVM_fit_new = LSVM.fit(X_train_new, Y_train_new)
NLSVM_fit_new = NLSVM.fit(X_train_new, Y_train_new)
DT_fit_new = DT.fit(X_train_new, Y_train_new)
RF_fit_new = RF.fit(X_train_new, Y_train_new)

c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [40]:
LR_pred_new = LR_fit_new.predict(X_test_new)
KNN_pred_new = KNN_fit_new.predict(X_test_new)
NB_pred_new = NB_fit_new.predict(X_test_new)
LSVM_pred_new = LSVM_fit_new.predict(X_test_new)
NLSVM_pred_new = NLSVM_fit_new.predict(X_test_new)
DT_pred_new = DT_fit_new.predict(X_test_new)
RF_pred_new = RF_fit_new.predict(X_test_new)

In [41]:
print("Logistic Regression is %f percent accurate" % (accuracy_score(LR_pred_new, Y_test_new)*100))
print("KNN is %f percent accurate" % (accuracy_score(KNN_pred_new, Y_test_new)*100))
print("Naive Bayes is %f percent accurate" % (accuracy_score(NB_pred_new, Y_test_new)*100))
print("Linear SVMs is %f percent accurate" % (accuracy_score(LSVM_pred_new, Y_test_new)*100))
print("Non Linear SVMs is %f percent accurate" % (accuracy_score(NLSVM_pred_new, Y_test_new)*100))
print("Decision Trees is %f percent accurate" % (accuracy_score(DT_pred_new, Y_test_new)*100))
print("Random Forests is %f percent accurate" % (accuracy_score(RF_pred_new, Y_test_new)*100))

Logistic Regression is 81.343284 percent accurate
KNN is 74.253731 percent accurate
Naive Bayes is 80.970149 percent accurate
Linear SVMs is 79.477612 percent accurate
Non Linear SVMs is 71.268657 percent accurate
Decision Trees is 79.850746 percent accurate
Random Forests is 83.208955 percent accurate

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
seed=0
cv = KFold(n_splits=5,random_state=2, shuffle=True)

In [43]:
def return_score(model,X_train, X_test, y_train, y_test):
   model.fit(X_train, y_train)
   score = model.score(X_test, y_test)
   return score

In [44]:
scores = []

In [45]:
model = LogisticRegression()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy score in each iteration: [0.8603351955307262, 0.8100558659217877, 0.8100558659217877, 0.7877094972067039, 0.8212290502793296]
K-Fold Score: 0.8178770949720671

c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [46]:
model = KNeighborsClassifier()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8603351955307262, 0.8100558659217877, 0.8100558659217877, 0.7877094972067039, 0.8212290502793296, 0.6815642458100558, 0.7597765363128491, 0.7039106145251397, 0.7486033519553073, 0.6871508379888268]
K-Fold Score: 0.7670391061452514

In [47]:
model = GaussianNB()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8603351955307262, 0.8100558659217877, 0.8100558659217877, 0.7877094972067039, 0.8212290502793296, 0.6815642458100558, 0.7597765363128491, 0.7039106145251397, 0.7486033519553073, 0.6871508379888268, 0.776536312849162, 0.7541899441340782, 0.7374301675977654, 0.7541899441340782, 0.8044692737430168]
K-Fold Score: 0.7664804469273743

In [48]:
model = LinearSVC()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Accuracy score in each iteration: [0.8603351955307262, 0.8100558659217877, 0.8100558659217877, 0.7877094972067039, 0.8212290502793296, 0.6815642458100558, 0.7597765363128491, 0.7039106145251397, 0.7486033519553073, 0.6871508379888268, 0.776536312849162, 0.7541899441340782, 0.7374301675977654, 0.7541899441340782, 0.8044692737430168, 0.664804469273743, 0.6703910614525139, 0.7541899441340782, 0.7430167597765364, 0.7374301675977654]
K-Fold Score: 0.7533519553072625

c:\Users\chuks\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [49]:
model = SVC(kernel='rbf')
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8603351955307262, 0.8100558659217877, 0.8100558659217877, 0.7877094972067039, 0.8212290502793296, 0.6815642458100558, 0.7597765363128491, 0.7039106145251397, 0.7486033519553073, 0.6871508379888268, 0.776536312849162, 0.7541899441340782, 0.7374301675977654, 0.7541899441340782, 0.8044692737430168, 0.664804469273743, 0.6703910614525139, 0.7541899441340782, 0.7430167597765364, 0.7374301675977654, 0.6759776536312849, 0.6424581005586593, 0.6703910614525139, 0.7150837988826816, 0.7262569832402235]
K-Fold Score: 0.7398882681564245

In [50]:
model = DecisionTreeClassifier()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8603351955307262, 0.8100558659217877, 0.8100558659217877, 0.7877094972067039, 0.8212290502793296, 0.6815642458100558, 0.7597765363128491, 0.7039106145251397, 0.7486033519553073, 0.6871508379888268, 0.776536312849162, 0.7541899441340782, 0.7374301675977654, 0.7541899441340782, 0.8044692737430168, 0.664804469273743, 0.6703910614525139, 0.7541899441340782, 0.7430167597765364, 0.7374301675977654, 0.6759776536312849, 0.6424581005586593, 0.6703910614525139, 0.7150837988826816, 0.7262569832402235, 0.7821229050279329, 0.7932960893854749, 0.7541899441340782, 0.7877094972067039, 0.776536312849162]
K-Fold Score: 0.746368715083799

In [51]:
model = RandomForestClassifier()
for train_index, test_index in cv.split(X,Y):
   X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2)
   score = return_score(model,X_train, X_test, y_train, y_test)   
   scores.append(score)
print("Accuracy score in each iteration: {}".format(scores))
print("K-Fold Score: {}".format(np.mean(scores)))

Accuracy score in each iteration: [0.8603351955307262, 0.8100558659217877, 0.8100558659217877, 0.7877094972067039, 0.8212290502793296, 0.6815642458100558, 0.7597765363128491, 0.7039106145251397, 0.7486033519553073, 0.6871508379888268, 0.776536312849162, 0.7541899441340782, 0.7374301675977654, 0.7541899441340782, 0.8044692737430168, 0.664804469273743, 0.6703910614525139, 0.7541899441340782, 0.7430167597765364, 0.7374301675977654, 0.6759776536312849, 0.6424581005586593, 0.6703910614525139, 0.7150837988826816, 0.7262569832402235, 0.7821229050279329, 0.7932960893854749, 0.7541899441340782, 0.7877094972067039, 0.776536312849162, 0.8435754189944135, 0.8659217877094972, 0.7932960893854749, 0.8156424581005587, 0.8435754189944135]
K-Fold Score: 0.758659217877095